<html>
  <head></head>
  <body>
      <h1>Welcome to the stat generator</h1>
    
    <form>
      <input type='text' name='player' />
      <input type='number' name='year' />
      <input type='submit' value='Submit' />
    </form>
    <p> You selected <%= name %> </p>
    <p>The players stats are <%= stats %></p>
  </body>
</html>