<html>
  <head></head>
  <body>
      <h1>Welcome to the stat generator</h1>
    
    <form>
      <input type='text' name='player' />
      <input type='submit' value='Submit' />
    </form>
    <p></p>
      The players name is <%= player_name %>
    </p>
  </body>
</html>